* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(background.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
iframe {
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}